@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', Helvetica, sans-serif;
}
body {
  background-color: #e0e0e0;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 300;
  color: #333;
}
p {
  line-height: 28px;
  margin-bottom: 25px;
  color: #333;
  font-size: 16px;
}
.centered {
  text-align: center;
}
a {
  color: #009897;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}
a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #aaa;
  margin: 1em 0;
  padding: 0;
}
button:focus {
  outline: 0 !important;
}

/* ============================ NAVBAR ============================= */

.navbar li a {
  text-transform: uppercase;
}

.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}
.navbar-inverse .navbar-nav > li > a {
  letter-spacing: 0.5px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #009897;
}
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #00b7b4;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background: #009897;
}

.dropdown-menu {
  background: #2d2d2d;
  border-color: #2d2d2d;
}

.dropdown-menu>li>a {
  color:#9d9d9d;
  font-weight:bold;
}

.dropdown-menu>li>a:hover {
  color:white;
  background:inherit;
}

.navbar-inverse .navbar-brand {
  color: #999999;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
  padding: 0;
  height: 30px;
}
.navbar-inverse .navbar-brand img {
  width: 120px;
  height: auto;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .navbar-inverse .navbar-brand img {
    margin-top: 13px;
    margin-left: 25px;
  }
}

/* ============================ FOOTER ============================= */

#footer {
  background: #2d2d2d;
  color: #bdbdbd;
}
#footer .container {
  width: 75%;
}
@media screen and (max-width: 1080px) {
  #footer .container {
    width: 90%;
  }
}
#footer h4 {
  color: #f0f0f0;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
#footer p {
  color: #aaa;
  text-align: left;
  margin-bottom: 10px;
  font-weight: 500;
}
#footer .copyright {
  font-size: 14px;
  color: #777;
}
#footer form {
  border: 2px solid #009897;
  display: table;
  width: 100%;
  max-width: 300px;
}
#footer i {
  color: #bdbdbd;
  font-size: 30px;
  padding: 10px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#footer i.fa-facebook-official {
  padding-left: 3px;
}
#footer i.fa-heart {
  font-size: 16px;
  padding: 0 10px 5px;
}
#footer i:hover,
#footer i:focus {
  color: #009897;
}
#footer ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
}
#footer ul li a {
  font-weight: 500;
}
#footer ul li a:hover,
#footer ul li a:focus {
  color: #00b7b4;
}
#footer .ccis-logo {
  width: 200px;
  -webkit-filter: brightness(0) invert(0.7);
  filter: brightness(0) invert(0.7);
}
@media screen and (max-width: 768px) {
  #footer h4 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 480px) {
  #footer .container {
    width: 85%;
  }
}

/* ============================ BANNER ============================= */

.banner {
  background: #009897;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 65px;
}
.banner h2 {
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
}
.banner h4 {
  color: #fff;
  font-weight: 700;
}
.banner p {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .banner h2 {
    line-height: 42px;
  }
}

/* ============================ HOME ============================= */

#headerwrap {
  background-image: url(../img/assets/circuitpattern.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
  background-color: #bdbdbd;
  color: #333;
  position: relative;
  text-align: center;
  width: 100%;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#headerwrap img {
  width: 30px;
  height: auto;
  margin-top: 50px;
}
#headerwrap #scroll-down:hover,
#headerwrap #scroll-down:focus {
  opacity: .7;
}
#headerwrap .fa-chevron-down {
  margin-top: 50px;
  color: #333;
  font-size: 30px;
}
#headerwrap h1 {
  margin-top: 150px;
  color: #333;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 3px;
}
#headerwrap h2 {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

/* ======================== CODE EDITOR ========================== */

.code-editor {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 440px;
  color: #ccc;
  background-color: #030f1e;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  text-align: left;
  border-radius: 5px;
  -webkit-box-shadow: 1px 7px 50px 10px rgba(170, 170, 170, 1);
  box-shadow: 1px 7px 50px 10px rgba(170, 170, 170, 1);
}
.code-editor .top-bar {
  font-size: 14px;
  color: #ccc;
  text-align: center;
  height: 30px;
  background-color: #333;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.code-editor .top-bar ul.control {
  list-style: none;
  padding: 5px 5px 5px 10px;
  text-align: left;
  position: absolute;
  left: 0;
  height: 30px;
  margin-bottom: 0;
}
.code-editor .top-bar ul.control .button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.code-editor .top-bar ul.control .button:first-of-type {
  background-color: #df6963;
}
.code-editor .top-bar ul.control .button:nth-of-type(2) {
  background-color: #f5e18a;
}
.code-editor .top-bar ul.control .button:last-of-type {
  background-color: #97c38a;
}
.code-editor .top-bar .file-path {
  padding: 5px;
}
.code-editor ul.line-numbers {
  list-style: none;
  padding: 20px 15px 5px;
  text-align: right;
  color: #777;
  position: absolute;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  border-bottom-left-radius: 5px;
  margin: 0;
}
.code-editor .code {
  margin-top: 20px;
  margin-left: 70px;
  padding-right: 30px;
}
.code-editor .code p {
  color: #ccc;
  margin: 15px 0 24px;
  line-height: 1.5;
}
.code-editor .code p.indent {
  margin-left: 25px;
}
.code-editor .code p.comment {
  color: #555;
}
.code-editor .selector {
  color: #009897;
}
.code-editor .prop {
  color: goldenrod;
}
@media screen and (max-width: 680px) {
  .code-editor {
    height: 400px;
  }
  .code-editor .top-bar .file-path {
    font-size: 12px;
  }
  .no-mobile {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .code-editor {
    margin-top: 50px;
  }
  #headerwrap .fa-chevron-down {
    margin-top: 20px;
  }
}

/* ======================== MISSION STATEMENT ========================== */

#mission {
  background: #e0e0e0;
  width: 100%;
}
#mission .container {
  background: #e0e0e0;
  padding: 70px 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #mission .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 480px) {
  #mission .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
#mission h2 {
  font-size: 40px;
  margin: 0 auto 30px;
}
#mission p {
  max-width: 630px;
  font-size: 18px;
  font-weight: 400;
  color: #555;
  line-height: 1.7;
  margin: 0 auto;
  padding: 0 15px;
}

/* ============================ MEETINGS ============================= */

#meetings {
  background: #f0f0f0;
  width: 100%;
}
#meetings .container {
  width: 100%;
  max-width: 800px;
  padding: 70px 0;
  margin: 0 auto;
}
#meetings .row {
  margin: 0;
}
#meetings h2 {
  font-size: 40px;
}
#meetings h4 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
#meetings p {
  display: inline;
}
#meetings i {
  color: #009897;
  font-size: 40px;
  margin: 0 10px 0 0;
  vertical-align: middle;
  text-align: center;
  width: 50px;
}

/* ============================ OFFICERS ============================= */

.leadership h1, .leadership h3 {
  color: #ddd;
  text-transform: uppercase;
}
.officers {
  padding: 30px 0px;
  margin-bottom: 0px;
  background: #e0e0e0;
  width: 80%;
}
.officers h4 {
  font-weight: 700;
}
.officers i {
  color: #777;
  font-size: 20px;
  margin: 0 5px;
}
.officers i:hover,
.officers i:focus {
  color: #009897;
}
.officers .img-circle {
  margin: 25px 20px 10px;
  width: 140px;
  height: 140px;
  transition: all .2s ease-in-out;
  object-fit: cover;
  border: 5px solid #f2f2f2;
}
.officers .officer {
  cursor: pointer;
  height: 280px;
}
.officers .officer-avatar {
  overflow: hidden;
}
.officers .officer:hover,
.officers .officer:focus {
  background: #f2f2f2;
}
.officers .officer:hover .img-circle,
.officers .officer:focus .img-circle {
  transform: scale(1.05);
}
.officers h4 {
  font-weight: 700;
  margin-top: 5px;
}
.officers h5 {
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}
@media screen and (max-width: 768px) {
  .officers i {
    margin-bottom: 20px;
  }
}

/***** OFFICER MODALS *****/

.modal-dialog {
  width: 700px;
  padding-top: 70px;
  padding-bottom: 30px;
}
.modal-content {
  border-radius: 0px;
  padding: 15px 15px 30px;
  background: #f2f2f2;
}
.modal-header {
  background: #f2f2f2;
  color: #fff;
  border: none;
  padding: 5px;
}
.modal-header h4 {
  font-weight: 700;
}
.modal-header .close {
  margin-top: -7px;
  margin-right: -7px;
  font-size: 30px;
  padding: 3px 10px;
}
.modal-body {
  background: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  max-height: 500px;
  overflow-y: scroll;
  width: 100%;
  padding: 0 20px;
}
.modal-body h1 {
  margin-top: 10px;
}
.modal-body h1:after {
  content: "";
  width: 50px;
  height: 2px;
  background: #009897;
  display: block;
  margin-top: 10px;
}
.modal-body h3 {
  margin-top: 10px;
}
.modal-body .img-circle {
  margin-right: 30px;
  margin-top: -50px;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.modal-body .officer-title {
  display: inline-block;
}
.modal-body .modal-description {
  margin: 10px;
  line-height: 24px;
  font-weight: 400;
}
.modal-body .modal-links {
  margin-left: 20px;
}
.modal-body .modal-links a {
  margin: 0 3px;
  font-size: 22px;
  color: #777;
}
.modal-body .modal-links a:hover {
  color: #009897;
}
.modal-footer {
  background: #f2f2f2;
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  .modal-dialog {
    width: 90%;
    padding: 5%;
  }
  .modal-body {
    padding: 10px;
  }
}
@media screen and (max-width: 545px) {
  .modal-body {
    padding-top: 50px;
  }
}
@media screen and (max-width: 517px) {
  .modal-body .modal-description {
    margin: 10px 0;
  }
}
@media screen and (max-width: 480px) {
  .modal-dialog {
    width: 95%;
    padding: 5%;
  }
}
@media screen and (max-width: 440px) {
  .modal-body .img-circle {
    margin-top: 0;
  }
  .modal-body {
    padding: 10px;
  }
}
@media screen and (max-width: 360px) {
  .modal-body h3 {
    font-size: 20px;
  }
}

/* ============================ SUBSCRIBE ============================= */
#subscribe-page {
  background: #009897;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#subscribe-page .container {
  padding: 0 30px;
}
#subscribe-page h4 {
  margin-top: 0;
}
#subscribe-page img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;
}
#subscribe {
  background: #009897;
  padding-top: 20px;
  padding-bottom: 20px;
}
#subscribe-page .container,
#subscribe .container {
  width: 100%;
}
#subscribe-page h4,
#subscribe h4 {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  margin-top: 30px;
}
#subscribe-page p,
#subscribe p {
  color: #fff;
  margin-bottom: 0;
  font-size: 20px;
}
#mc_embed_signup {
  margin-top: 30px;
  font-size: 1.1em;
}
#mc_embed_signup form {
  text-align: center;
  padding: 10px 0;
}
#mc_embed_signup .mc-field-group {
  display: inline-block;
  width: 70%;
  max-width: 400px;
}
#mc_embed_signup input:focus {
  border: none;
}
#mc_embed_signup .mc-field-group input,
#mc_embed_signup .button  {
  display: inline-block;
  border-radius: 0;
  margin: 0;
}
#mc_embed_signup .mc-field-group input {
  width: 100%;
  border: 2px solid white;
}
#mc_embed_signup .mc-field-group input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.2);
}
#mc_embed_signup .button {
  height: 45px;
  font-size: 14px;
  font-weight: 700;
  padding: 0;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fff;
  width: 25%;
  max-width: 150px;
  min-width: 120px;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#mc_embed_signup .button:hover {
  background: #fff;
  color: #009897;
}
#mc_embed_signup div#mce-responses {
  float: left;
  position: relative;
  top: 0;
  padding: 0em .5em 0em .5em;
  width: 100%;
  margin: 0;
  color: #fff;
  text-align: left;
}
#mc_embed_signup div.response {
  margin: 5px 0;
  padding: 0;
  float: left;
  top: 0;
  z-index: 1;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
}
#mc_embed_signup div.response a {
  color: #fff;
  text-decoration: underline;
}
#mc_embed_signup #mce-success-response {
  color: #fff;
}
@media screen and (max-width: 480px) {
  #mc_embed_signup .mc-field-group,
  #mc_embed_signup .button {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
}

/* ============================ CALENDAR ============================= */

#event-calendar {
  background: #f0f0f0;
}
#calendar {
  background: #f0f0f0;
  max-width: 900px;
  margin: 70px auto;
}
#calendar h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}
#calendar th, #calendar td {
  border-color: #bcbcbc;
}
#calendar .fc-event, .fc-event-dot {
  background-color: #009897
}
#calendar .fc-unthemed .fc-today,
.fc td.fc-today  {
  background: #ccc;
}
#calendar button {
  border-radius: 0;
  text-transform: capitalize;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  border-color: #ccc;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media screen and (max-width: 630px) {
  #calendar button {
    padding: 0 .4em;
    margin-bottom: 30px;
  }
}

ul.dates {
  list-style: none;
  margin: 70px auto;
}
ul.dates li {
  position: relative;
  border-top: solid 1px #ccc;
  padding: 1.3em 0 1.3em 6.75em;
}
ul.dates h3 a {
  font-weight: 500;
  font-size: 24px;
}
ul.dates h3 a:hover {
  color: #00b7b4;
}
ul.dates p {
  line-height: 24px;
}
ul.dates a {
  font-weight: 500;
}
ul.dates .event-date {
  font-weight: 700;
  color: #666;
  margin-bottom: 5px;
}
ul.dates .event-location {
  font-weight: 500;
  color: #777;
  margin-left: 40px;
}
ul.dates .date {
  display: block;
  position: absolute;
  left: 0;
  top: 1.3em;
  background-color: #009897;
  height: 3.5em;
  text-align: center;
  color: #fff;
  line-height: 1em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 7px;
  padding-left: 3px;
  width: 60px;
}
ul.dates .date:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -20px;
  border-left: solid 1.25em #009897;
  border-top: solid 1.8em transparent;
  border-bottom: solid 1.8em transparent;
}
ul.dates .date strong {
  display: block;
  font-size: 26px;
  padding-top: 5px;
}
ul.dates h3 {
  margin-top: 0px;
}
ul.dates p {
  margin: 0;
}
ul.dates li:first-child {
  border-top: 0;
  padding-top: 0;
}
ul.dates li:first-child .date {
  top: 0;
}
@media screen and (max-width: 768px) {
  ul.dates {
    padding-left: 10px;
  }
}
@media screen and (max-width: 360px) {
  ul.dates .date {
    font-size: 12px;
    width: 45px;
    padding-top: 5px;
  }
  ul.dates .date strong {
    font-size: 20px;
  }
  ul.dates .date:after {
    right: -15px;
  }
  ul.dates li {
    padding: 1.3em 0 1.3em 4.75em;
  }
}

/* ============================ GALLERY ============================= */

#gallery .container {
  padding: 0 0 50px;
  width: 80%;
}
#gallery .col-lg-3, #gallery .col-md-3, #gallery .col-sm-3 {
  margin: 10px auto;
}
#gallery a.gallery-item {
  height: 250px;
  max-height: 250px;
}
#gallery img {
  cursor: zoom-in;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
#gallery img.cover {
  object-fit: cover;
  height: 180px;
}
@media screen and (max-width: 990px) {
  #gallery img.cover {
    object-fit: cover;
    height: 210px;
  }
}
@media screen and (max-width: 767px) {
  #gallery img.cover {
    object-fit: cover;
    height: 100%;
    margin: 15px auto;
  }
}

/* ============================ BLOG ============================= */

#blog {
  padding-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  #blog .container {
    width: 990px;
  }
}
#blog .row {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 35px;
  border-bottom: 1px solid #bbb;
}
#blog .row:last-of-type {
  border: none;
}
#blog img {
  width: 300px;
  height: auto;
}
#blog h4 {
  font-weight: 700;
  font-size: 20px;
  margin-top: 0;
}
#blog p {
  margin-bottom: 10px;
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
  color: #555;
}
#blog a {
  font-weight: 500;
}
#blog a:hover,
#blog a:focus {
  color: #00b7b4;
}
#blog i {
  font-size: 12px;
  color: #777;
}
#blog a.blog-image {
  height: 250px;
  max-height: 250px;
}
#blog img {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
#blog img.cover {
  object-fit: cover;
  height: 200px;
}
#blog .post-date {
  font-weight: 700;
}
#blog .btn-default {
  color: #009897;
  background: transparent;
  border: 2px solid #009897;
  padding: 5px 15px;
  font-weight: 700;
  display: inline-block;
  margin-top: 20px;
}
#blog .btn-default:hover,
#blog .btn-default:focus {
  background: #009897;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #blog .container {
    padding: 0 50px;
  }
  #blog h4 {
    margin-top: 30px;
  }
  #blog a.blog-image {
    height: 100%;
    max-height: 100%;
  }
  #blog img.cover {
    object-fit: cover;
    height: auto;
  }
}
#blog-banner .container {
  width: 100%;
  margin: 0;
  padding: 0;
}
#blog-banner .row {
  margin: 0;
}
#blog-banner .col-lg-12, #blog-banner .col-md-12, #blog-banner .col-sm-12 {
  padding: 0;
}
#blog-banner img {
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
#blog-banner img.cover {
  object-fit: cover;
  height: 250px;
}
#post .post-content {
  margin: 125px auto 100px;
  max-width: 700px;
  width: 650px;
}
#post .post-content a {
  font-weight: 500;
}
#post .post-content h1 {
  font-weight: 700;
}
#post .post-content h2, #post .post-content h3 {
  line-height: 1.5;
  font-weight: 700;
}
#post .post-content i.fa-tag {
  color: #555;
}
#post .post-content .author {
  font-weight: 500;
}
#post .post-content p {
  font-size: 18px;
  font-weight: 400;
  color: #555;
  margin: 25px 0;
}
#post .post-content li {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  #post .post-content {
    width: 80%;
  }
}
#backToBlog {
  padding: 20px 0 15px;
  background: #009897;
}
#backToBlog h3 {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  font-weight: 500;
}
#backToBlog a {
  width: 100%;
}

/* ============================ CONTACT ============================= */
#contact .container {
  padding: 50px 0 70px;
}
#contact p {
  font-size: 20px;
  line-height: 28px;
  margin: 30px auto;
}
#contact #email-link {
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  padding: 5px 15px 7px;
  border: 2px solid #009897;
  text-decoration: none;
  font-size: 24px;
}
#contact #email-link:hover,
#contact #email-link:focus {
  color: #fff;
  background: #009897;
}
#contact .find-us {
  font-size: 20px;
}
#contact a {
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}
#contact sub {
  font-size: 14px;
  color: #333;
}
#contact-map {
  position: relative;
  bottom: -5px;
}
#contact-map .container {
  width: 100%;
}
#contact-map #map iframe {
  margin-bottom: -5px;
}
@media screen and (max-width: 768px) {
  #contact .container {
    padding: 50px;
  }
}
@media screen and (max-width: 400px) {
  #contact .container {
    padding: 30px;
  }
  #contact #email-link {
    font-size: 18px;
  }
  #contact .find-us {
    font-size: 18px;
  }
}
.scrolloff {
  pointer-events: none;
}

.qtip-content {
  font-size: 14px;
  line-height: 1.3;
  padding: 5px;
}

