<div id="footer">
  <div class="container">
    <div class="row">
      <br>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h4>Made with<i class="fa fa-heart"></i>at</h4>
        <p>
          <a href="http://www.ccs.neu.edu/" target="blank">
            <img class="ccis-logo" src="{{ site.baseurl }}/img/assets/ccis-logo.png">
          </a>
        </p>
        <p class="copyright">&copy; NUWIT 2016</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h4>Upcoming events</h4>
        <ul>
          {% for event in site.data.events limit:3 %}
          <li><a href="{{ event.url }}" target="_blank">{{ event.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <h4>Connect With Us</h4>
        <a href="https://www.facebook.com/groups/nucisters/" target="_blank"><i class="fa fa-facebook-official"></i></a>
        <a href="https://twitter.com/nuWomenInTech" target="_blank"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
    <br>
  </div>
</div>
