<div id="meetings">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Join us!</h2>
      </div>
    </div>
    <div class="row centered">
      <br>
      <br>
      <div class="col-md-4 col-sm-4">
        <h4><i class="fa fa-calendar-o"></i>Every Tuesday</h4>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4><i class="fa fa-clock-o"></i>6:00pm - 7:00pm</h4>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4><i class="fa fa-map-marker"></i>102 West Village G</h4>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>